html,
body {
	max-width: 100%;
	overflow-x: hidden;
	width: 100%;
}

.overflow {
	overflow: hidden;
}

.heading_color {
	color: $primary-color;
}
.black_color {
	color: $black-color;
}
.one_box {
	width: 100%;
	height: 100%;
	padding: 16px;
	background-color: rgb(0, 5, 40);
	border-radius: 25px;
	box-shadow: rgb(0 0 0 / 15%) 11px 0px 28px 0px;
	color: $white-color;
}

.one_box_heading {
	color: rgb(255, 168, 1);
}
.text_justify {
	text-align: justify;
}
.card-body {
	padding: 0px;
}

.card {
	border: 0px;
}
.rewards h2 {
	font-family: Rza;
	font-size: 72px;
	color: #001e00;
	line-height: 72px;
}
.rewards_content p {
	width: 72%;
}
.reward_head {
	margin-top: 230px;
}
.rewards_responsive img {
	padding-top: 18px;
}
.rewards_img {
	width: 150px;
	height: 150px;
	margin: auto;
	display: block;
}
.seen_img {
	max-width: 100%;
	height: auto;
}
.charity_img {
	max-width: 100%;
	height: auto;
}
.charity_Image {
	text-align: center;
}
.charity_donation {
	position: relative;
}
.charity_donation_img {
	border-radius: 25px;
}
.img_fluid {
	max-width: 100%;
	height: auto;
}
.hands_img .charity_donation_img {
	position: absolute;
	right: 0px;
	top: 0px;
	margin-top: -105px;
	margin-right: -50px;
}
.background_white {
	background-color: $white-color;
}
.charity_donate {
	box-shadow: 0 0px 10px rgb(0 0 0 / 15%);
	border-radius: 25px;
}
.charity_donation p {
	width: 95%;
}
.img_opacity {
	opacity: 0.4;
	transition: all 0.3s;
}
.img_opacity:hover {
	opacity: 1;
}
.big_font {
	font-size: 5rem;
	color: rgb(0 0 0 / 3%);
	line-height: 30px;
}

.tokenomics_box {
	background-color: #f2f3fa;
	border-radius: 25px;
	height: 100%;
}
.tokenomic_image {
	width: 120px;
	position: relative;
	background-color: #003e1c;
	height: 120px;
	top: 0px;
	margin-top: -87px;
	border-radius: 25px;
	padding: 4px;
	margin-left: 10px;
	box-shadow: 0px 24px 40px -16px rgb(0 0 0 / 40%);
}
.tokenomics_content {
	height: 100%;
}
.tokenomics_box span {
	color: $primary-color;
	font-weight: 400;
	font-size: 1.4rem;
	display: block;
	line-height: 1.2;
}
.tokenomics_box p {
	font-size: 0.75rem;
}
.roadmaps h2 {
	font-family: Rza;
	font-size: 72px;
	color: rgb(0, 30, 0);
	line-height: 36px;
}
.carousel h2 {
	font-family: Rza;
	font-size: 72px;
	color: rgb(0, 30, 0);
	line-height: 36px;
}
.documents {
	background-color: #4f1728;
}
.documents .document_heading,
.documents p {
	color: rgb(255 255 255 / 100%);
}
.documents h2,
.documents p,
.documents a,
.documents h4 {
	font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}
.audit_img img {
	width: 100%;
	padding: 10px;
	margin: 11px 0px;
}
.audit_img .document_img {
	border-radius: 0px;
}
.documents .document_heading {
	font-weight: 700;
	font-size: 40px;
}
.documents p {
	font: 400 20px/24px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.document_box {
	color: $primary-color;
	border-radius: 25px;
	box-shadow: 0 9px 57px rgb(0 0 0 / 5%);
	background-color: $white-color;
	height: 100%;
}
.documents_left_img {
	width: 120px;
}
.document_img {
	border-radius: 25px;
}
.inner_img {
	position: relative;
}
.img1 {
	width: 170px !important;
	position: absolute;
}
.img1 img {
	left: 70px;
	top: -219px;
	animation: book 4s linear infinite !important;
	position: absolute;
}
.img2 {
	width: 160px !important;
	position: absolute;
}
.img2 img {
	right: -430px;
	top: -170px;
	animation: book 12s linear infinite !important;
	position: absolute;
	filter: blur(0.8px);
}
.img3 {
	width: 150px !important;
	position: absolute;
}
.img3 img {
	left: 220px;
	bottom: -65px;
	animation: book 8s linear infinite !important;
	position: absolute;
	filter: blur(0.4px);
}
.documents_img {
	padding: 0px 0px 40px 0px;
}
.documents_img img {
	width: 70%;
	margin: 0px auto;
	display: block !important;
	animation: cat 6s linear infinite;
}
@keyframes cat {
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(5px, 10px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes book {
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(0px, 10px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
.video_babydoge video {
	border-radius: 25px;
	box-shadow: 0px 4px 10px #00000033;
}
.disclaimer_box h5 {
	color: $white-color;
}
.box_heading {
	background: $primary-color;
	box-shadow: inset 0 4px 10px rgb(0 0 0 / 25%);
	border-radius: 20px 20px 0 0;
}
.community_content {
	width: 68%;
	margin: auto;
}
.community_content h2 {
	font-size: 72px;
	line-height: 72px;
	color: rgb(0, 30, 0);
}
.community {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.community_img {
	position: relative;
}
.community_img img {
	width: 110px;
	margin: auto;
	display: block;
	animation: community 6s linear infinite;
	position: absolute;
}
.twitter_logo img {
	margin-left: 410px;
	animation: community 8s linear infinite;
	margin-top: 25px;
}
.instagram_logo img {
	margin-left: 275px;
	margin-top: 110px;
	animation: community 4s linear infinite;
	width: 120px;
}
.reddit_logo img {
	margin-left: 160px;
	margin-top: 30px;
	animation: community 8s linear infinite;
}

.telegram_logo img {
	animation: community 6s linear infinite;
	margin-left: 135px;
	margin-top: 235px;
	width: 155px !important;
}
.medium_logo img {
	margin-left: 400px;
	width: 130px;
	margin-top: 210px;
	animation: community 5s linear infinite;
}
@keyframes community {
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(4px, 15px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
.community_social_icon img {
	width: 28px;
}
.community_social_icon .social_Icon {
	padding: 11px;
}
.contact_box {
	box-shadow: 0 4px 10px rgb(0 0 0 / 16%);
	border-radius: 25px;
}
.form-control {
	border: 0px;
	border-bottom: 1px solid $primary-color;
	border-radius: 0px;
}
.form-control:focus {
	border-color: transparent;
	box-shadow: 0px 0px 0px 0px;
	border-bottom: 3px solid $primary-color;
}
.contact_form input::placeholder {
	color: rgb(221, 218, 218);
}
.contact_form textarea::placeholder {
	color: rgb(221, 218, 218);
}
.contact_label {
	color: $primary-color;
	font-size: 1.1rem;
}
.safariswap_img {
	background-color: #003e1c;
	border-radius: 25px;
	box-shadow: 0px 24px 40px -16px rgb(0 0 0 / 50%);
}
.why_safariswap {
	background-color: $white-color;
	border-radius: 25px;
	border: 1px solid #ececec;
	height: 100%;
}

.game_review {
	border-radius: 25px;
	height: 100%;
}

.video_intro {
	display:flex;
	justify-content:center; 
	align-content:center;
}

.why_safariswap:hover {
	box-shadow: 0px 40px 80px -24px rgb(0 0 0 / 16%);
}
.why_safari_swap {
	background-color: #f2f3fa;
}
.safariswap_content h4 {
	font-weight: 500;
}
.safariswap_content p {
	font-size: 1rem;
}
.tokenomics {
	background-image: linear-gradient(155deg, #edf3e3 0, #bff6f1 100%);
}
.why_safari_swap {
	background-color: #f2f3fa;
	background-image: url(../images/tokenomics/why_safariswap_bg.svg);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: contain;
}
.buylink1 {
    display: none !important;
    margin-left: 0.2px;
}
.advertisement{
    margin: auto;
    font-size: 18px;
    font-family: Rza;
}
.megaphone{ 
    margin-right: 0.8rem; 
    margin-top: -0.3rem; 
}
.video_section h2 {
	font-size: 72px !important;
	text-align: center;
}
.token h2 {
	font-size: 72px !important;
	text-align: center;
}
.details p{
	font-size: 18px !important;
}

.socialRow {
	width:100%;
}


.socialicon_row {
	justify-content: center;	
}

.social_Icon {
	width: 5rem ;
}

.icon_Row {
	width: 15rem;
}

@media screen and (max-width: 1400px) {
	.img2 img {
		right: -380px;
	}
	.img1 img {
		left: 21px;
	}
	.community_social_icon img {
		width: 22px;
	}
	.community_social_icon .social_Icon {
		padding: 9px;
		// width: 50px !important;
	}

	.fiverrbusiness {
		padding-bottom: 65px;
	}

	.nature_heading {
		width: 73% !important;
	}

}
@media screen and (max-width: 1200px) {
	.reward_head {
		margin-top: 0px;
	}
	.telegram_logo img {
		width: 180px !important;
		margin-left: 40px;
	}
	.documents_img img {
		width: 60%;
	}
	.img2 img {
		right: -281px;
	}
	.img3 img {
		left: 155px;
	}
	.reddit_logo img {
		margin-left: 75px;
	}
	.medium_logo img {
		margin-top: 225px;
		margin-left: 340px;
	}
	.instagram_logo img {
		margin-left: 200px;
		margin-top: 110px;
	}
	.twitter_logo img {
		margin-left: 340px;
	}
	.fiverrbusiness {
		padding-top: 96px;
		padding-bottom: 96px;
	}
	.nature_heading {
		width: 87% !important;
	}
    // .white_color {
    //     margin-top: 3rem;
    // }
    .slider_img img{
        margin-top: 3rem;
    }

}
@media screen and (max-width: 992px) {
	.hands_img .charity_donation_img {
		margin-top: -90px;
		margin-right: -30px;
		width: 40%;
	}
	.community_content {
		width: 100%;
	}
	.community_social_icon {
		width: 100%;
	}
	.img1 img {
		left: 81px;
	}
	.img3 img {
		left: 355px;
		bottom: -45px;
	}
	.img2 img {
		right: -481px;
	}
	.big_font {
		font-size: 3rem;
		color: rgba(0, 0, 0, 0.03);
		line-height: 0px;
	}
	.charity_donation p {
		width: 100%;
	}
	.why_safari_swap {
		background-image: none;
	}
	.footerContainer {
		margin-top: 20px;
	}
	.rewards p {
		width: 100%;
	}
	.reddit_logo img {
		margin-left: 0px;
	}
	.twitter_logo img {
		margin-left: 215px;
	}
	.instagram_logo img {
		margin-left: 110px;
	}
	.telegram_logo img {
		margin-left: 0px;
		width: 155px !important;
	}
	.community .mt-5 {
		margin-top: 0px !important;
	}
	.community_img img {
		width: 100px;
	}
	.medium_logo img {
		margin-left: 225px;
	}
	.fiverr_img {
		margin-top: 36px;
		width: 100%;
		.fiver_section h2 {
			padding-bottom: 24px;
		}
	}
	.fiver_section p {
		padding-bottom: 32px;
	}
	.fiver_section ul {
		padding-bottom: 48px;
	}
	.fiverrbusiness {
		padding-top: 64px;
		padding-bottom: 64px;
	}
	.weeklydraw h2 {
		font-size: 2.2rem !important;
		line-height: 1.4 !important;
	}
	.weeklyheading p {
		width: 100% !important;
	}
	.buybutton {
		margin-top:0.7rem;
	}
	.gitdocsbutton {
        margin-top:0.7rem;
		margin-left: 0.7rem;
	}
    .buylink {
        display: none !important;
    }
    .buylink1 {
        display: block !important;
        flex-direction: row;
    }


}
@media screen and (max-width: 768px) {
	h1 {
		font-size: 2rem;
		line-height: 56px;
	}
	.community_img {
		height: 210px;
	}
	.community_img img {
		width: 80px;
	}
	.telegram_logo img {
		width: 110px !important;
		margin-left: 16%;
		margin-top: 32%;
	}
	.roadmaps h2 {
		font-size: 2.2rem;
	}
	.carousel h2 {
		font-size: 2.2rem;
	}
	.reward_section h2 {
		font-size: 2.2rem !important;
	}
	.video_section h2 {
		font-size: 2.1rem !important;
	}
	.token h2 {
		font-size: 2.1rem !important;
	}

	.charity_section_img h2 {
		font-size: 2.2rem;
	}

	.why_safari_swap h2 {
		font-size: 2.2rem !important;
	}
	.tokenomics h2 {
		font-size: 2.2rem !important;
	}
	.nature_section h2 {
		font-size: 2.2rem !important;
	}

	.img3 img {
		left: 200px;
	}
	.img2 img {
		right: -311px;
	}
	.twitter_logo img {
		margin-left: 60%;
	}
	.reddit_logo img {
		margin-left: 16%;
	}
	.instagram_logo img {
		margin-left: 40%;
		margin-top: 15%;
	}
	.medium_logo img {
		margin-left: 60%;
		margin-top: 30%;
	}
	@keyframes community {
		0% {
			transform: translate(0px, 0px);
		}
		50% {
			transform: translate(2px, 10px);
		}
		100% {
			transform: translate(0px, 0px);
		}
	}
	.community_content h2 {
		font-size: 2rem;
		line-height: 72px;
	}


}
@media screen and (max-width: 576px) {
	.hands_img .charity_donation_img {
		margin-top: -65px;
		margin-right: -10px;
	}
	.listing .text-start,
	.listing .text-end {
		text-align: center !important;
	}
	.big_font {
		font-size: 2.4rem;
		color: rgba(0, 0, 0, 0.03);
		line-height: 0px;
	}

	.listing_heading {
		font-size: 1.6rem;
		font-weight: 600;
		margin: 0px 0px 20px 20px;
	}
	.community_img img {
		width: 70px;
	}
	.tokenomics_box span {
		font-size: 1.4rem;
	}

	.documents_img {
		padding: 0px;
	}
	.rewards h2 {
		font-size: 2.2rem;
		line-height: 1.5;
	}

	.swiper-slide {
		width: 100% !important;
	}
	.swiper-button-next {
		margin-right: 20px;
	}
	.swiper-button-prev {
		margin-left: 20px;
	}
	.listing_img img {
		width: 40px !important;
	}
	.audit_img img {
		padding: 6px;
		margin: 0px;
	}
	.doucment_size {
		padding: 0px 33px;
	}
	.fiver_section li {
		padding-bottom: 12px;
	}

	.starnft-heading {
		font-size: 2rem !important;
	}
}

@media screen and (max-width: 510px) {
    .advertisement{
        font-size: 15px !important;
    }
	.details p{
		font-size: 14px !important;
	}

}

@media screen and (max-width: 480px) {
	.img2 img {
		right: -220px;
		width: 80px;
	}
	.img1 img {
		left: 50px;
		top: -159px;
		width: 80px;
	}
	.img3 img {
		left: 150px;
		width: 80px;
	}
}

@media screen and (max-width: 435px) {
    .advertisement{
        font-size: 12px !important;
    }
}

@media screen and (max-width: 400px) {
	.img2 img {
		right: -160px;
	}
	.token {
		padding: 0px !important;
	}
}

@media screen and (max-width: 357px) {
    .advertisement{
        font-size: 11px !important;
    }
    .megaphone{
        height:25px;
        width:25px;
    }
	.details p{
		font-size: 13px !important;
	}

}

@media screen and (max-width: 330px) {
	.img2 img {
		right: -134px;
		width: 80px;
	}
	.img1 img {
		left: 14px;
		top: -159px;
		width: 80px;
	}
	.img3 img {
		left: 127px;
		width: 80px;
	}
}
@media screen and (max-width: 322px) {
    .advertisement{
        font-size: 10px !important;
    }
    .megaphone{
        height:23px;
    }

}

.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	top: 39%;
	width: calc(var(--swiper-navigation-size) / 44 * 27);
	height: var(--swiper-navigation-size);
	margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	background-color: #fff;
	box-shadow: 0px 0px 14px 0px #00000036;
	width: 36px;
	border-radius: 34px;
	height: 36px;
}
.swiper-button-next {
	right: 0px;
	margin-right: 0px;
}
.swiper-button-prev {
	left: 0px;
	margin-left: 0px;
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
	content: "next";
}
.swiper-button-next:after,
.swiper-button-prev:after {
	font-family: swiper-icons;
	font-size: var(--swiper-navigation-size);
	text-transform: none !important;
	letter-spacing: 0;
	text-transform: none;
	font-variant: initial;
	line-height: 1;
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
	content: "prev";
}

//swiper
.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	width: 301px;
	border-radius: 25px;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.footer_image {
	border-radius: 50%;
	width: 40px;
}

.project_img img {
	border-radius: 25px 25px 0px 0px;
}
.listing_img img {
	width: 45px;
	margin-bottom: 5px;
}
.listing {
	background-image: linear-gradient(155deg, #edf3e3 0, #bff6f1 100%);
}
.listing_image {
	display: inline-block;
}
.listing_img .charity_donation_img {
	border-radius: 0px;
}
.listing_img h5 {
	display: inline-block;
	margin-left: 8px;
}
.freelance_project h6,
.freelance_project p {
	font-size: 14px !important;
	line-height: 12px !important;
	margin-top: 2px;
	font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
	margin-left: 8px;
}

.feelance_project h6 {
	font-weight: bold;
}
.freelance_project p {
	color: #95979d;
}

.why_safari_swap h2 {
	font-family: Rza;
	font-size: 72px;
	color: rgb(0, 30, 0);
	line-height: 36px;
}
.fiverrbusiness {
	background-color: #0d084d;
	font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
	padding-top: 48px;
}

.fiver_section h2 {
	color: $white-color;
	font-size: 32px;
	line-height: 120%;
	font-weight: 700;
	padding-bottom: 20px;
	max-width: 450px;
	font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.fiver_section p {
	padding-bottom: 16px;
	max-width: 450px;
	color: $white-color;
	font-size: 18px;
	line-height: 26px;
	font: 400 18px/26px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.fiver_section li {
	padding-bottom: 16px;
	color: $white-color;
	font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.fiver_firsthed {
	padding-bottom: 32px;
	font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.fiver_section ul {
	padding-left: 0px;
	padding-bottom: 36px;
}

.fiver_section ul {
	list-style: none;
}

.fiver_section ul li:before {
	content: "✓";
	padding: 0px 13px;
}
.freelance_project {
	border-radius: 25px;
	box-shadow: 0 0px 12px 0px rgb(0 0 0 / 15%);
	margin-bottom: 12px !important;
}

.fiver_badge {
	background-color: #584aff;
	justify-content: center;
	padding: 3px 7px 2px;
	border-width: 1px;
	border-style: solid;
	border-radius: 999px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 10px;
	font-weight: 700;
	line-height: 100%;
	border-color: #584aff;
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
}
.fiverrbusiness img {
	padding: 0px 35px;
}

.fiver_section {
	padding: 0px 14px;
}
.reward_box {
	height: 100% !important;
}
.weeklydraw h2 {
	font-family: Rza;
	font-size: 72px;
	color: $white-color;
	line-height: 72px;
}
.weeklyheading p {
	width: 73%;
	color: $white-color;
}

.weeklydraw {
	background-color: #320b3c;
}

.loader {
	height: 100vh;
}

.tokenomics h2 {
	font-family: Rza;
	font-size: 72px;
	color: rgb(0, 30, 0);
	line-height: 72px;
}

.reward_section h2 {
	font-family: Rza;
	font-size: 72px;
	color: rgb(0, 30, 0);
	line-height: 72px;
}

.reward_img img {
	width: 85%;
	margin: auto;
	display: block;
	animation: rewardlion 6s linear infinite;
}
@keyframes rewardlion {
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(0px, 15px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

.reward_heading {
	width: 60%;
	margin: auto;
}
.nature_section {
	// background-color: #F2F3FA;
	// background-image: url(../images/tokenomics/why_safariswap.png);
	// background-position: 100% -4%;
	// background-repeat: no-repeat;
	// background-size: contain;
}

.nature_section h2 {
	font-family: Rza;
	font-size: 72px;
	color: rgb(0, 30, 0);
	line-height: 72px;
}

.nature_img img {
	width: 75%;
	margin: auto;
	display: block;
	animation: nature 6s linear infinite;
}
@keyframes nature {
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(0px, 10px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

.nature_heading {
	width: 70%;
	margin: auto;
}

.contact-container {
	background-image: url("https://image.freepik.com/free-vector/abstract-colorful-flow-shapes-background_23-2148220472.jpg");
	background-position: 0 0;
	background-size: cover;
	margin-left: auto;
	margin-left: auto;
	padding: 1.2rem;
	border-radius: 0.5rem;
}
.contact-card {
	background: #1f2329;
	border-radius: 0.5rem;
	padding: 1rem;
	text-align: center;
}

.title {
	font-family: Inter, sans-serif;
	font-weight: 800;
	font-size: 2rem;
	color: whitesmoke;
}
.email {
	display: flex;
	align-items: center;
	justify-content: center;
}
.email-text {
	/* background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%); */
	/* background-color: #f5d020; */
	color: #fbb034;
}

.text {
	margin-left: 0.3rem;
	font-size: 1.3rem !important;
	font-weight: 600;
}
.email-button {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.launchbutton {
	background-color: #fbb034;
}

.launchbutton:focus {
	background-color: #fbb034 !important;
}

.buybutton {
	background-color: rgb(31, 199, 212);
	margin-top: 0.7rem;
	padding: 0.2rem 0.7rem;
}

.buybutton:hover {
	background-color: rgb(31, 199, 212) !important;
}

.buybutton:focus {
	background-color: rgb(31, 199, 212) !important;
}
.pancakeIcon{
    width: 18px;
    margin-bottom: 3px;
}
.gitdocsbutton {
	background-color: #9309a0;
	margin-top: 0.7rem;
	padding: 0.2rem 0.7rem;
	margin-left: 0.7rem;
}
.gitdocsbutton:focus {
	background-color: #9309a0 !important;
}

.gitdocsbutton:hover {
	background-color: #82088d !important;
}
.buylink {
	// background-color: #fbb034;
	font-size: 1.05rem;
}
.btn-primary {
	border: none;
}

.button-image {
	margin-left: 10px;
}

.starnft-container {
	background-image: url("https://image.freepik.com/free-vector/abstract-colorful-flow-shapes-background_23-2148220472.jpg");
	background-position: 0 0;
	background-size: cover;
	margin-left: auto;
	margin-left: auto;
	padding: 0.2rem;
	border-radius: 0.5rem;
	&:hover {
		box-shadow: 0 0 8px #fdfdfe;
	}
}

@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}

.starnft-card {
	background: #1f2329;
	border-radius: 0.5rem;
	// padding: 1rem;
	text-align: center;
}

.starnft-card img {
	border-radius: 0.5rem;
}

.starnft-heading {
}
// .bg-bubbles{
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;

// 	z-index: 1;

// 	li{
// 		position: absolute;
// 		list-style: none;
// 		display: block;
// 		width: 40px;
// 		height: 40px;
// 		// background-color:#003e1c;
// 		bottom: -160px;

// 		-webkit-animation: square 5s infinite;
// 		animation:         square 5s infinite;

// 		-webkit-transition-timing-function: linear;
// 		transition-timing-function: linear;

// 		&:nth-child(1){
// 			left: 10%;
// 		}

// 		&:nth-child(2){
// 			left: 20%;

// 			width: 20px;
// 			height: 20px;

// 			animation-delay: 2s;
// 			animation-duration: 7s;
// 		}

// 		&:nth-child(3){
// 			left: 25%;
// 			animation-delay: 4s;
// 		}

// 		&:nth-child(4){
// 			left: 40%;
// 			width: 30px;
// 			height: 30px;

// 			animation-duration: 22s;

// 		}

// 		&:nth-child(5){
// 			left: 70%;
// 		}

// 		&:nth-child(6){
// 			left: 80%;
// 			width: 40px;
// 			height: 40px;

// 			animation-delay: 3s;
// 		}

// 		&:nth-child(7){
// 			left: 32%;
// 			width: 30px;
// 			height: 30px;

// 			animation-delay: 7s;
// 		}

// 		&:nth-child(8){
// 			left: 55%;
// 			width: 20px;
// 			height: 20px;

// 			animation-delay: 15s;
// 			animation-duration: 20s;
// 		}

// 		&:nth-child(9){
// 			left: 25%;
// 			width: 10px;
// 			height: 10px;

// 			animation-delay: 2s;
// 			animation-duration: 40s;
// 		}

// 		&:nth-child(10){
// 			left: 90%;
// 			width: 30px;
// 			height: 30px;

// 			animation-delay: 11s;
// 		}
// 	}
// }

// @-webkit-keyframes square {
//   0%   { transform: translateY(0); }
//   100% { transform: translateY(-700px) rotate(600deg); }
// }
// @keyframes square {
//   0%   { transform: translateY(0); }
//   100% { transform: translateY(-700px) rotate(600deg); }
// }
